<link href="../stylesheets/elegant-icons-style.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">signup</h2>
                <form method="post" name="signupForm" ng-submit="signup()">
                    <div class="form-group has-feedback"
                        ng-class="{'has-success':signupForm.displayName.$dirty&&signupForm.displayName.$valid,'has-error':signupForm.displayName.$dirty&&signupForm.displayName.$invalid}">
                        <span class="form-control-feedback icon_profile"></span>
                        <input class="form-control input-lg" name="displayName" id="displayName" ng-model="displayName"
                             placeholder="Given Name" autofocus required/>
                        
                        
                        <!--for using mg-message must add using of ngMessage to app.js and angular-message.js in index.html -->
                        <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" 
                            ng-messages="signupForm.displayName.$error">
                            <div ng-message="required">Name is required</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                    ng-class="{'has-success':signupForm.email.$dirty&&signupForm.email.$valid,'has-error':signupForm.email.$dirty&&signupForm.email.$invalid}">
                        <span class="form-control-feedback icon_briefcase"></span>
                        <input class="form-control input-lg" name="email" id="email" ng-model="email" type="email"
                             placeholder="Email" required unique-email/>
                        
                        <div class="help-block text-danger" ng-if="signupForm.email.$dirty"
                             ng-messages="signupForm.email.$error">
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Invalid email address</div>
                            <div ng-message="unique">Email is taken</div>
                        </div>
                    </div> 
                   <div class="form-group has-feedback" 
                        ng-class="{'has-success':signupForm.password.$dirty&&signupForm.password.$valid,'has-error':signupForm.password.$dirty&&signupForm.password.$invalid}">
                       <span class="form-control-feedback icon_key_alt"></span> 
                       <input class="form-control input-lg" name="password" id="password" type="password"
                             ng-model="password" placeholder="Password" required password-strength/>
                        
                        <div class="help-block text-danger" ng-if="signupForm.password.$dirty"
                             ng-messages="signupForm.password.$error">
                            <div ng-message="required">Password is Required</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" 
                        ng-class="{'has-success':signupForm.confirmPassword.$dirty&&signupForm.confirmPassword.$valid,'has-error':signupForm.confirmPassword.$dirty&&signupForm.confirmPassword.$invalid}">
                        <span class="form-control-feedback icon_key_alt"></span> 
                        <input class="form-control input-lg" name="confirmPassword" id="confirmPassword" type="password"
                             ng-model="confirmPassword" placeholder="Confirm Password" required repeat-password="password"/>
                        <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty"
                             ng-messages="signupForm.confirmPassword.$error">
                            <div ng-message="required">Confirm Password is Required</div>
                            <div ng-message="repeat">Repeat password is not the same</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback"
                        ng-class="{'has-success':signupForm.firstName.$dirty&&signupForm.firstName.$valid,'has-error':signupForm.firstName.$dirty&&signupForm.firstName.$invalid}">
                        <span class="form-control-feedback icon_info">
                        </span>
                        <input class="form-control input-lg" name="firstName" id="firstName" type="text"
                             ng-model="firstName" placeholder ="First Name" required />
                        <div class="help-block text-danger" ng-if="signupForm.firstName.$dirty"
                             ng-messages="signupForm.firstName.$error">
                            <div ng-message="required">First Name is Required</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback"
                        ng-class="{'has-success':signupForm.lastName.$dirty&&signupForm.lastName.$valid,'has-error':signupForm.lastName.$dirty&&signupForm.lastName.$invalid}">
                        <span class="form-control-feedback icon_info"></span>
                        <input class="form-control input-lg" name="lastName" id="lastName" type="text"
                            ng-model="lastName" placeholder="Last Name" required />
                        <div class="help-block text-danger" ng-if="signupForm.lastName.$dirty"
                             ng-messages="signupForm.lastName.$error">
                            <div ng-message="required">Last Name is Required</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback"
                         ng-class="{'has-success':signupForm.country.$dirty&&signupForm.country.$valid,'has-error':signupForm.country.$dirty&&signupForm.country.$invalid}">
                        <span class="icon_building form-control-feedback"></span>
                        <input class="form-control input-lg" name="country" id="country" type="text"
                             ng-model="country" placeholder="Country" required />
                        <div class="help-block text-danger" ng-if="signupForm.country.$dirty"
                             ng-messages="signupForm.country.$error">
                            <div ng-message="required">Country is Required</div>
                        </div>
                    </div>
                    <div class="from-group has-feedback"
                        ng-class="{'has-success':signupForm.occupation.$dirty&&signupForm.occupation.$valid,'has-error':signupForm.occupation.$dirty&&signupForm.occupation.$invalid}">
                        <span class="icon_briefcase form-control-feedback"></span>
                        <input class="form-control input-lg" name="occupation"  id="occupation" type="text"
                             ng-model="occupation" placeholder="Occupation" required />
                        <div class="help-block text-danger" ng-if="signupForm.occupation.$dirty"
                            ng-messages="signupForm.occupation.$error">
                            <div ng-message="required">Occupation is Required</div>
                        </div>
                    </div>
                    <button class="btn-block btn-success btn-lg btn" type="submit" 
                        ng-disabled="signupForm.$invalid" >Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>
