<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Forget Password</h2>
                <form  name="forgetPassword" method="post" ng-submit="forgot()">
                    <div class="has-feedback form-group" 
                        ng-class="{'has-success':forgetPassword.email.$dirty&&forgetPassword.email.$valid,'has-error':forgetPassword.email.$dirty&&forgetPassword.email.$invalid}">
                         <span class="form-control-feedback icon_briefcase"></span>
                        <input type="email" class="form-control" ng-model="email" name="email" id="email" placeholder="Email" required  autofocus/>
                        <div class="help-block text-danger" ng-if="forgetPassword.email.$dirty"
                            ng-messages="forgetPassword.email.$error">
                            <div ng-message="email">Invalid email address</div>
                            <div ng-message="required">Email address is required</div>
                        </div>
                    </div>
                    <input type="submit" class="btn-block btn-success btn-lg btn"  ng-disabled="forgetPassword.$invalid" value="Reset" />
                </form>
            </div>
        </div>
    </div>
</div>
