<link href="../stylesheets/bootstrap.css" rel="stylesheet" />
<div class="container">
   <div class="row">
       <div class="center-form panel">
           <div class="panel-body">
               <h2 class="text-center">Reset Password</h2>
               <form method="post" ng-submit="ResetPass()" name="resetPass">
                   <div class="form-group has-feedback" 
                        ng-class="{'has-success':resetPass.password.$dirty&&resetPass.password.$valid,'has-error':resetPass.password.$dirty&&resetPass.password.$invalid}">
                       <span class="form-control-feedback icon_key_alt"></span> 
                       <input class="form-control input-lg" name="password" id="password" type="password"
                             ng-model="password" placeholder="Password" required password-strength/>
                        
                        <div class="help-block text-danger" ng-if="resetPass.password.$dirty"
                             ng-messages="resetPass.password.$error">
                            <div ng-message="required">Password is Required</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" 
                        ng-class="{'has-success':resetPass.confirmPassword.$dirty&&resetPass.confirmPassword.$valid,'has-error':resetPass.confirmPassword.$dirty&&resetPass.confirmPassword.$invalid}">
                        <span class="form-control-feedback icon_key_alt"></span> 
                        <input class="form-control input-lg" name="confirmPassword" id="confirmPassword" type="password"
                             ng-model="confirmPassword" placeholder="Confirm Password" required repeat-password="password"/>
                        <div class="help-block text-danger" ng-if="resetPass.confirmPassword.$dirty"
                             ng-messages="resetPass.confirmPassword.$error">
                            <div ng-message="required">Confirm Password is Required</div>
                            <div ng-message="repeat">Repeat password is not the same</div>
                        </div>
                    </div>
                   <button class="btn-block btn-lg btn-success btn" type="submit" ng-disabled="resetPass.$invalid">Change Password</button>
               </form>
           </div>
       </div>
   </div>
</div>
