<form id="modify_form" ng-submit="submit()" ng-controller="uploadFileController" enctype="multipart/form-data">

        <div class="intro_detail" style="margin-top:36px;">
            <div class="dotted blue"></div>
            <div class="box_title">Documents</div>
            Load file 1 here<br>
            <input type="file" id="form_1_fld" class="" name="" 
                    onchange="angular.element(this).scope().setFiles(this);" ng-model="file_1"/><br>
            <br>
            Load file 2 here<br>
            <input type="file" id="form_2_fld" class="" name="" 
                    onchange="angular.element(this).scope().setFiles(this);" ng-model="file_1"/>
            <div class="dotted spacer_small blue"></div>
        </div><!-- END INTRO DETAIL -->

        <div class="form_viewport">

            <div class="full_container">
                <label>Write something in here:</label><br>
                <textarea ng-model="text_desc" id="form__desc"></textarea>
            </div>

            <div class="clearfix"></div>

            <div class="full_container" style="text-align:center; margin-top:50px;">
                <input type="button" class="submit_cancel" value="Cancel" />
                <input type="submit" class="submit_save" value="Save" />
            </div>


        </div><!-- END FORM VIEWPORT -->

    </form>