<link href="../stylesheets/bootstrap.css" rel="stylesheet" />
<div class="modal-dialog">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <p class="modal-body">
        {{modalOptions.bodyText}}
    </p>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button type="button" class="btn-primary btn" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
    </div>
</div>